<div class="container-fluid" style="margin: 0;padding: 0; overflow-x: hidden;">
 <div>


  <nav class="navbar navbar-light bg-light" style="height: 64px;background: #F8F8F8;z-index: 100;">

  </nav>
 </div>



  <div class="row" >

    <div class="col-2"> 


    </div>
    <div class="col-8 mySignUpCustomCard"> 
      <form  (ngSubmit) ="register()">
         <div style="margin-right: 47px;margin-left: 47px;margin-top: 34px;">
       <h5 style="text-align: center" class="signUpHeading"> <i class="fa fa-cog" aria-hidden="true" style="color: #D0021B;margin-right: 9px;"></i>IPT</h5>
          <div class="row" style="margin-bottom: 22px;">
            <div class="col-6">
                <input type="text" name="firstName" placeholder="First Name"  >
            </div>
            <div class="col-6">
                <input type="text" name="lastName" placeholder="Last Name" >

              </div>

          </div> 
          <div  style="margin-bottom: 22px;">
              <input type="email" name="email" placeholder="Email"  >
          </div>
          <div  style="margin-bottom: 45px;">
              <input type="text" name="id" placeholder="ID"  >
          </div>

          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <button type="submit" class="btn myCustomRegisterCssClass">Register </button>
              </div>
              <div class="col-2">

                </div>

          </div>
     </div>
    </form>
        
      </div>
      <div class="col-2"> 


        </div>
    




  </div>
  <!-- <div style="font-size: 17px;line-height: 20px;margin-bottom: 153px;" > <a routerLink="/registeration"  style="color: #006780;">Register For New User</a></div> -->
  <div  style="background-color: #DEDEDE;color: #4A4A4A ;margin-top: 97px;">
      <p style="padding-top: 16px;font-size: 17px;line-height: 20px;font-family: 'SFProTextBold';text-align: center;"><b>Security Notes</b></p>
<p style="font-size: 20px;margin-top: 19px;margin-left: 33px;margin-right: 33px;margin-bottom: 26px;font-family: 'SFProTextRegular';text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex </p>
<p style="font-size: 17px;line-height: 20px;font-family: 'SFProTextBold';text-align: center;"><b>Legal Note</b></p>
<p style="font-size: 20px;line-height: 24px;padding-top:10px;padding-bottom: 30px;color: #006780;margin-bottom: 0px;font-family: 'SFProTextRegular';text-align: center;">Samplelink@abc.com</p>

    </div>

  
</div>
  


